body {
    margin: 0;
    overflow: hidden;
    background-color: #ddd;
}
pre{
    margin:0;
}
#WebGL-output{
    z-index: 1;
    position:fixed;
    top:0px;
    left:0px;
}
#container{
    position:fixed;
    z-index: 10;
    width:100%;
    height:100%;
    color:white;
    font-family: 'Lucida Console', Monaco, monospace;

}
#loading{
    margin:0 auto;
    text-align: center;
    padding-top:15px;
    font-size: 10px;
}
#title{
    margin:0 auto;
    font-size: 150px;
    text-align: center;
    padding:15%;
}
@media only screen and (min-width: 850px){
    #terminal{
        position:absolute;
        width:800px;
        height:550px;
        left:50%;
        bottom:50%;
        margin-bottom: -275px;
        margin-left: -400px;
        background-color: rgba(10,10,10,0.1);
        overflow:auto;
    }
}
@media only screen and (max-width: 850px){
    #terminal{
        position:absolute;
        height:85%;
        bottom:50%;
        margin-bottom: -275px;
        width:90%;
        margin-left: 5%;
        background-color: rgba(10,10,10,0.1);
        overflow:auto;
    }
}
#terminal>pre{
    position:absolute;
    bottom:10px;
    margin-left: 10px;
    margin-right:10px;
    
}
#terminal pre a{
    color:white;
}
#terminal pre a:hover{
    color:#222;
}

#input{
    margin:0px;
    padding:0px;
    background-color: rgba(10,10,10,0.01);
    border:0px;
    color:white;
    font-family: 'Lucida Console', Monaco, monospace;
    outline:none;
}
.hidden{
    visibility: hidden;
}


#footer a{
    text-decoration: none;
    color:white;
    font-size: 16px;
}
#footer a:hover{
    text-decoration: none;
    color:#222;
}

#footer{
    z-index: 20;
    position:fixed;
    bottom: 0px;
    color:white;
    font-family: Helvetica, Arial, SimHei, sans-serif;
    margin:20px;
    width: 100%;
}
#logo{
    font-size: 25px;
}
#right{
    float: right;
    margin-top: 11px;
    margin-right: 50px;
}
#left{
    float:left;
}

#copyright{
    font-size: 5px;
}

@-webkit-keyframes fadeOut {
    0% {opacity:0;}
    30%{opacity:0;}
    50% {opacity:1;}
    80%{opacity:1;}
    100%{opacity:0;}
}

@keyframes fadeOut {
    0% {opacity:0;}
    30%{opacity:0;}
    50% {opacity:1;}
    80%{opacity:1;}
    100%{opacity:0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.animated {
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.nullimg{
    display: none;
}