<!DOCTYPE html>
<html>
<head>
    <title>WO.IO</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=0.8, minimum-scale=0.8, maximum-scale=0.8, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="../static/lib/wtf.js"></script>

</head>
<body>
    <div id="container">
        <div id="loading" class="hidden">Your browser does not support WebGL,for better experience please change your browser.</div>
        <div id="title" class="hidden">W O . I O</div>
        <div id="woioterminal" class="hidden">
            <pre >
                <pre id="show">
</pre>-<input type="text" id="input" size="50">
</pre>
                

            
        </div>

    </div>
    <div id="footer">
        <div id="left">
            <span id="logo">&nbsp;&nbsp;&nbsp;&nbsp;WO.IO&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a id="all" href="javascript:onAClick('all')">| all</a>&nbsp;&nbsp;
            <a id="help" href="javascript:onAClick('help')">| help</a>&nbsp;&nbsp;
            <a id="wo" href="javascript:onAClick('wo')">| wo</a>&nbsp;&nbsp;
            <a id="io" href="javascript:switchIO()">| io</a>&nbsp;&nbsp;
        </div>
        <div id="right">
            <!-- <a href="http://davidkingzyb.github.io/home.html">| home</a>&nbsp;&nbsp; -->
            <a href="http://davidkingzyb.github.io/blog.html">| blog</a>&nbsp;&nbsp;
            <a id="contact" href="javascript:onAClick('contact')">| contact</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="copyright">&copy;2016-2017 by DKZ</span>
        </div>
        
    </div>
    <div id="scripts" style="display:none"></div>
    <div id="WebGL-output"></div>
    <div id="Ascii-output"></div>
    <script type="text/javascript" src="../static/lib/woio.js"></script>

    

</body>

</html>  