<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache">                                                            
    <script type="text/javascript" src="../static/lib/show.js"></script>
    <script type="text/javascript" src="../static/lib/wtf.js"></script>
    <script type="text/javascript" src="../static/lib/stats.js"></script>
    <style type="text/css">
body{margin: 0px;}
#loading{position: absolute;right: 0px;}
#Stats-output{position:absolute;}
    </style>
</head>
<body>
    <div id="loading">WO loading 0/0</div>
    <div id="Stats-output"></div>
    <div id="WebGL-output"></div>
    <script type="text/javascript">

//debug stats
function initStats(){
    var stats=new Stats();
    stats.setMode(0);
    document.getElementById('Stats-output').appendChild(stats.domElement);
    return stats;
}
var stats=initStats();

//=====================woiobg===================
var ISBG=false;
try{
    wtf.loadScript('../static/lib/three.js',function(){
        //console.log('load three.js');
        wtf.loadScript('../static/lib/OBJLoader.js',function(){
            //console.log('load OBJLoader.js');
            wtf.loadScript('../static/lib/tween.min.js',function(){
                //console.log('load tween.js');
                wtf.loadScript('../static/lib/TrackballControls.js',function(){
                    //console.log('load trackballcontrols.js');
                    wtf.loadScript('../static/lib/woiobg.js',function(){
                        console.log('woiobg ok');
                        ISBG=true;
                    });
                });
            });
        });
    });
}catch(e){
    console.log('woiobg fail');
}
var showing;
//==============show=======================
function showTest(){
    console.log('showing test')
    showing=new show();
    showing.init(woiobg);
    showing.setEyeColor(show.randomColor());
    showing.setHeadColor(show.randomColor());
    showing.setWO('rotation',0,show.degTorad(139),0);
    //showing.rotateWO(0,show.degTorad(1),0);
}
    </script>
</body>
</html>